html {
	height: 100%;
}
body {
	height: 100%;
	overflow:hidden;
}
.btn {
	border: 0px;
}
#main-box {
	padding-left: 15%;
	padding-right: 15%
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  z-index:1; 
}
